﻿@using Microsoft.AspNetCore.Mvc.Localization
@model Admin.ViewModels.ManageViewModels.ChangePasswordViewModel
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["PageTitle"];
}

<h2>@ViewData["Title"]</h2>
<hr />

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form asp-controller="Manage" asp-action="ChangePassword" method="post" class="form-horizontal">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OldPassword" class="col-md-2 control-label">@Localizer["OldPassword"]</label>
                <div class="col-md-10">
                    <input asp-for="OldPassword" class="form-control" />
                    <span class="glyphicon form-control-feedback"></span>
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword" class="col-md-2 control-label">@Localizer["NewPassword"]</label>
                <div class="col-md-10">
                    <input asp-for="NewPassword" class="form-control" />
                    <span class="glyphicon form-control-feedback"></span>
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="col-md-2 control-label">@Localizer["ConfirmPassword"]</label>
                <div class="col-md-10">
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span class="glyphicon form-control-feedback"></span>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-5 col-md-3">
                    <button type="submit" class="btn btn-block btn-primary">@Localizer["Change"]</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
