﻿@using Microsoft.AspNetCore.Identity
@using Admin.Models
@using Microsoft.AspNetCore.Mvc.Localization
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IViewLocalizer Localizer

@if (SignInManager.IsSignedIn(User))
{
    <ul class="nav navbar-nav navbar-left">
        <li>
            <a href="/api/swagger">@Localizer["Api"]</a>
        </li>
        <li>
            <a href="/Log">@Localizer["Log"]</a>
        </li>
    </ul>

    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">@UserManager.GetUserName(User)</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">@Localizer["SignOut"]</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Login">@Localizer["SignIn"]</a></li>
    </ul>
}
