﻿@using Admin.Models
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@model Admin.ViewModels.AccountViewModels.LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["PageTitle"];
}

<h2>@ViewData["Title"]</h2>
<hr/>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <section>
            <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="col-md-2 control-label">@Localizer["Email"]</label>
                    <div class="col-md-10">
                        <input asp-for="Email" class="form-control" />
                        <span class="glyphicon form-control-feedback"></span>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="col-md-2 control-label">@Localizer["Password"]</label>
                    <div class="col-md-10">
                        <input asp-for="Password" class="form-control" />
                        <span class="glyphicon form-control-feedback"></span>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-5 col-md-3">
                        <button type="submit" class="btn btn-block btn-primary">@Localizer["SignIn"]</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
