﻿@using Microsoft.AspNetCore.Mvc.Localization
@model Admin.ViewModels.AccountViewModels.RegisterViewModel
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["PageTitle"];
}

<h2>@ViewData["Title"]</h2>
<hr />
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="col-md-2 control-label">@Localizer["Email"]</label>
                <div class="col-md-10">
                    <input asp-for="Email" class="form-control" />
                    <span class="glyphicon form-control-feedback"></span>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="col-md-2 control-label">@Localizer["Password"]</label>
                <div class="col-md-10">
                    <input asp-for="Password" class="form-control" />
                    <span class="glyphicon form-control-feedback"></span>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="col-md-2 control-label">@Localizer["ConfirmPassword"]</label>
                <div class="col-md-10">
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span class="glyphicon form-control-feedback"></span>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="col-md-2 control-label">@Localizer["PhoneNumber"]</label>
                <div class="col-md-10">
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span class="glyphicon form-control-feedback"></span>
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="col-md-2 control-label">@Localizer["Name"]</label>
                <div class="col-md-10">
                    <input asp-for="Name" class="form-control" />
                    <span class="glyphicon form-control-feedback"></span>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="col-md-2 control-label">@Localizer["Surname"]</label>
                <div class="col-md-10">
                    <input asp-for="Surname" class="form-control" />
                    <span class="glyphicon form-control-feedback"></span>
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Sex" class="col-md-2 control-label">@Localizer["Sex"]</label>
                <div class="col-md-10">
                    <select asp-for="Sex" class="form-control">
                        <option value="Male">@Localizer["Male"]</option>
                        <option value="Female">@Localizer["Female"]</option>
                    </select>
                    <span class="glyphicon form-control-feedback"></span>
                    <span asp-validation-for="Sex" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="col-md-2 control-label">@Localizer["Type"]</label>
                <div class="col-md-10">
                    <select asp-for="Sex" class="form-control">
                        <option value="Vet">@Localizer["Vet"]</option>
                        <option value="Owner" selected>@Localizer["Owner"]</option>
                    </select>
                    <span class="glyphicon form-control-feedback"></span>
                    <span asp-validation-for="Sex" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-5 col-md-3">
                    <button type="submit" class="btn btn-block btn-primary">@Localizer["Register"]</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
